<ion-header>
  <ion-toolbar>
    <ion-title>filipino_food</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card routerLink="/recipe/1">
    <img alt="Adobo" src="assets/img/adobo.jpg" />
    <ion-card-header>
      <ion-card-title>Adobo</ion-card-title>
      <ion-card-subtitle>Filipino Food</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Chicken adobo is a classic Filipino dish that's as savory as it is bright with acid, and it goes perfectly with a large platter of garlic fried rice.
    </ion-card-content>
  </ion-card>


  <ion-card routerLink="/recipe/2">
    <img alt="Caldereta" src="assets/img/caldereta.jpg" />
    <ion-card-header>
      <ion-card-title>Caldereta</ion-card-title>
      <ion-card-subtitle>Filipino Food</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Chicken adobo is a classic Filipino dish that's as savory as it is bright with acid, and it goes perfectly with a large platter of garlic fried rice.
    </ion-card-content>
  </ion-card>

  <ion-card routerLink="/recipe/3 ">
    <img alt="Caldereta" src="assets/img/sinigang.jpg" />
    <ion-card-header>
      <ion-card-title>Sinigang</ion-card-title>
      <ion-card-subtitle>Filipino Food</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Chicken adobo is a classic Filipino dish that's as savory as it is bright with acid, and it goes perfectly with a large platter of garlic fried rice.
    </ion-card-content>
  </ion-card>
    
  <ion-fab style="padding-right: 50px; padding-bottom: 20px;" class="add-botton" slot="fixed" horizontal="end" vertical="bottom">
    <ion-fab-button color="primary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab> 
</ion-content>
